body {
  background: #242e3f;
}

.App {
  text-align: center;
}

.App-logo {
  width: 53vmin;
  height: 30vmin;
  pointer-events: none;
  margin-bottom: 30px;
}

.App-header {
  background-color: #242e3f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.open-folder {
  width: 200px;
  height: 50px;
  font-size: 23px;
  border-radius: 6px;
  color: firebrick;
  background: bisque;
}

.open-folder:hover {
  background: black;
  color: aliceblue;
}

.video-styles {
  width: 53vmin;
  height: 30vmin;
  border: none;
}

.reset-video-folder-name, .resetVideoID {
  width: 300px;
  height: 50px;
  font-size: 23px;
  border-radius: 6px;
  color: firebrick;
  background: bisque;
  margin-top: 5px;
}

.resetVideoID-side {
  width: 50px;
  height: 50px;
  font-size: 23px;
  border-radius: 6px;
  color: firebrick;
  background: bisque;
  margin-top: 5px;
}

.download-type {
  width: 200px;
}

.download-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.download-folder-input-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.download-folder-input-close {
  border: none;
  background: transparent;
  font-size: 25px;
}
